$navbar-default-bg: #232323;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default{
  margin-bottom: 0px !important ;
  border-radius: 0px !important;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

#logo:hover{
  color: #ff0;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background: asset-url('alphadog.jpg') ;
  background-size: cover;
  height: 700px;
  margin-bottom: 0px !important;

}

.jumbotron h1{
  text-transform: uppercase;

}

footer{
  margin-top: 0px;
  padding: 10px;
  background-color: #232323;
  color:#fff;
  font-size: .7em !important;
  clear: both;

}
footer a {
  color: #494949;
}

footer a:hover{
  color: #fff;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
  margin: 0px !important;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

.content{
  margin:20px;
}

.pageAlerts{
  margin-top: 20px;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 1px solid #232323;
}

.article-body{
  padding: 10px 0px;
}

.article-title a {
  text-decoration: none;
}

.article-meta-details{
  border-top: 1px dotted #6B6B6B;
  padding: 5px 0px 10px 0px;
}
.article-actions{
  border-top: 1px solid #232323;
  padding-top: 10px;
}
